@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-extensions/src/sass/index.sass";

.App-header {
    background-color: white !important;
    color : darkblue !important;
}

.MiniPre {
    display: grid;
    grid-template-columns : auto 55%;
    grid-template-rows : 100;
    margin : 5%;
    border : 1px solid lightsteelblue;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.MiniPreImage {
    grid-column-start: 1;
    grid-row-start: 0;
    width: fit-content;
    align-content: center;
}

.MiniPreInfo {
    grid-column-start: 2;
    grid-row-start: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 100%;
    border-left: 2% solid darkblue;
}

.image {
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    margin: 0% !important;
}

.resize {
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
    max-height: 100% !important;
    padding : 5% !important;
}

.heroContainer {
    display: grid;
    grid-template-columns: 30% 60% auto;
    grid-template-rows : 100%;
}

.heroImage {
    grid-column-start: 1 !important;
}

.heroContent {
    grid-column-start: 2 !important;
    display:flex;
    align-items: center;
    justify-content: center;
}

.heroBet {
    grid-column-start: 3 !important;
    display:flex;
    align-items: center;
    justify-content: center;
}

.center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    align-content: center !important;
    text-align: center!important;
}

.hero {
    margin : 2%;
}

.card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    margin: 2%;
    color : white;
    border : 1px solid black;
}

.card-image {
    grid-column-start: 1;
    grid-row-start: 1;
    display : grid;
    grid-template-columns: 25% 50% 25%;
    justify-content: center;
}

.imageC {
    grid-column-start: 2;
    justify-content: center;
}

.home {
    display: grid !important;
    grid-template-columns: 70% 30%;
    grid-template-rows: 100%;
}

.homeTeam {
    grid-column-start: 1;
}

.homeBet {
    grid-column-start: 2;
}

.away {
    display: grid !important;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
}

.awayTeam {
    grid-column-start: 2;
}

.awayBet {
    grid-column-start: 1;
}

.is-green {
    background-color: rgba(228,213,28, 0.85) !important;
    color: #303030 !important;
}

.is-violet {
    background-color: #480f90 !important;
    color: white !important;
}

.is-text-violet {
    color : #480f90 !important;
}

.button-violet {
    border : 2px solid #480f90 !important;
}

.navbar-item img {
    max-height: 128px;
}

.navbar {
    border-bottom: 1px solid lightgrey;
}

.parentTitle {
    display : grid !important;
    grid-template-rows: 1;
    grid-template-columns: 30% 40% 30%;
}

.leftTitle {
    grid-column-start: 1;
    grid-row-start: 1;
}

.centerTitle {
    grid-column-start: 2;
    grid-row-start: 1;
}

.rightTitle {
    grid-column-start: 3;
    grid-row-start: 1;
}

.is-win {
    color : green !important;
}

.is-lost {
    color : red !important;
}

@media only screen and (min-width: 501px) {

}
